{% extends 'idp/base.html' %}
{% load i18n %}
{% block title %}{% trans "Reset User's password" %}{% endblock %}
{% block content %}
<div id="formBox">
 <h1>{% trans "Reset User's password" %}</h1>
 <div><form action="reset_password.do" class="tableform" method="post" name="reset_form">
  <table cellpadding="2" cellspacing="0" border="0">
  {{ form }}
  <tr>
  <td></td><td><input type="submit" class="submitbutton" value="{% trans 'Reset' %}"/></td>
  </tr>
  </table>
  </form>
 </div>
</div>
{% endblock %}
